body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    background-color: #D0D0D0;
    height: 80px;
    width: 100%;
    position: relative;

    & .mynavbar {
        width: 100%;
    }

    & .navbar-brand {
        margin-left: 100px;
    }

    & .menu-div {
      margin-right: 101px;
    

    & .nav-item a {
        height: 19px;
        width: 100px;
        color: #FFFFFF;	
        font-family: "Open Sans";	
        font-size: 11px;
        letter-spacing: 3.4px;
        line-height: 19px;
        text-align: center;
    }
}
}

.welcome-div {
    height: 820px;
    width: 100%;
    background-color: #D0D0D0;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    & .box {
        padding-top: 271px;


        & p {
            height: 24px;
            width: 134px;	
            color: #FFFFFF;
            font-family: Raleway;	
            font-size: 11px;	
            font-weight: bold;	
            letter-spacing: 3.4px;	
            display: inline;
            
        }
        & h1 {
            height: 116px;	
            width: 551px;	
            color: #FFFFFF;	
            font-family: "Open Sans", sans-serif;	
            font-size: 40px;	
            font-weight: 300;	
            line-height: 58px;	
            display: inline;
        }
    }
    & .arrow-img {
        position: absolute;
        bottom: 67px;
        left: 50%;
      
        
    }
}

.about-container {
    height: 371px;   

    & .about-us {
        text-align: center;
        height: 204px;
        width: 50%;
          
        margin: 0 auto;
        bottom: 94px;

        & h2 {
            padding-bottom: 40px;	
            color: #333333;	
            font-family: "Open Sans";	
            font-size: 32px;	
            font-weight: 300;	
            line-height: 44px;
        }
        & p {
            color: #777777;	
            font-family: "Open Sans";	
            font-size: 15px;	
            font-weight: 300;	
            line-height: 30px;
        }
    }
}

.dualcontainer {
    height: 685px;
    width: 100%;

    & .square {
        background-color: #D0D0D0;
        width: 100%;
        height: 100%;
        display: inline-block;
        
    }

    & .right-div {
        display: inline-block;
        height: 685px;
        margin-top: 25%;
        margin-left: 78px;

        & h2 {
                color: #333333;
                font-family: "Open Sans", sans-serif;
                font-size: 32px;
                font-weight: 300;
                line-height: 44px;
                padding-bottom: 40px;
            }

        & p {
            width: 50%;
            color: #777777;	
            font-family: "Open Sans";	
            font-size: 15px;	
            font-weight: 300;	
            line-height: 30px;
        }
    }

    & .why {
        background-color: #F5F5F5;
    }
}